<o-form-layout-manager attr="GlobalSetting" mode="dialog" title="{{ 'GLOBALSETTING' | oTranslate }}">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="GlobalSettingTable" 
            service="GlobalSetting" 
            entity="GlobalSetting" 
            keys="name"
            columns="name;value;description" 
            header-actions="R;D"
            visible-columns="name;value;description"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="small" 
            select-all-checkbox="true" 
            pageable="yes"  
            virtual-scroll="yes" 
            edition-mode="click" 
            horizontal-scroll="yes">
			
				<o-table-column attr="name" label=" name*" editable="yes" required="yes" ></o-table-column>
			
				<o-table-column attr="value" label="value" editable="yes" required="yes" ></o-table-column>
			
				<o-table-column attr="description" label="description" editable="yes" required="no" ></o-table-column>
			
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>