<o-form-layout-manager attr="RuleEvent" mode="tab" title="Rule Event">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table attr="RuleEventTable" service="RuleEvent" entity="RuleEvent" title="Rule Event" keys="id"
            columns="entity_name;event_type;calling_fn;id" header-actions="R;D"
            visible-columns="entity_name;event_type;calling_fn" sort-columns="entity_name" query-rows="20"
            quick-filter="yes" row-height="medium" select-all-checkbox="true" pageable="yes" auto-adjust="true"
            virtual-scroll="yes" edition-mode="dblclick" horizontal-scroll="yes" show-title="yes" export-button="yes">

            <o-table-column attr="entity_name" title="entity_name">
                <!--o-table-cell-renderer-service attr="entity_name" service="Entity" entity="EntityType" columns="name"
                    parent-keys="id:entity_name" value-column="name" keys="entity_name" visible-columns="name"
                    separator=" - " width="680px">
                </o-table-cell-renderer-service -->
            </o-table-column>

            <o-table-column #event_type attr="event_type" title="event_type" editable="no" required="no"
                content-align="left"></o-table-column>

            <o-table-column #calling_fn attr="calling_fn" title="calling_fn" editable="no" required="no"
                content-align="left"></o-table-column>

            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no"
                content-align="center"></o-table-column>

            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>