<o-form attr="YamlFiles" mode="tab" title="{{ 'YAMLFILES' | oTranslate }}" class="fill-form">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="YamlFilesTable" 
            service="YamlFiles" 
            entity="YamlFiles" 
            title="{{ 'YAMLFILES' | oTranslate }}"
            keys="id;name"
            columns="id;name;upload_flag;export_flag" 
            header-actions="R;D"
            visible-columns="name;upload_flag;export_flag"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="false" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="no">
            
            <o-table-column attr="name" title=" Name*" editable="yes" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="upload_flag" title="Upload Flag">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                    render-type="icon" boolean-type="boolean" true-value="1" false-value="0"></o-table-cell-renderer-boolean>
            </o-table-column>
            <o-table-column attr="export_flag" title="Export Flag">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                    render-type="icon" boolean-type="boolean" true-value="1" false-value="0"></o-table-cell-renderer-boolean>
            </o-table-column>
            <!-- o-table-column attr="content" title="Yaml Content" editable="yes" required="no" content-align="left"></o-table-column -->
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form>