<o-form #ApplicationEntityForm attr="ApplicationEntity_form_insert" service="ApplicationEntity" entity="ApplicationEntity" 
keys="application_name;entity_name" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-list-picker 
        attr="application_name"
        service="Application" 
        entity="ApplicationType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="name" 
        value-column-type="VARCHAR"  
        keys="name" 
        columns="name;application_name;name" 
        title="application_name"
        visible-columns="name;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>

        <o-list-picker 
        attr="entity_name"
        service="Entity" 
        entity="EntityType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="name" 
        value-column-type="VARCHAR"  
        keys="name" 
        columns="name;entity_name;name" 
        title="entity_name"
        visible-columns="name;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>