<o-form-layout-manager attr="EntityAttr" mode="dialog" title="{{ 'ENTITYATTR' | oTranslate }}">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="EntityAttrTable" 
            service="EntityAttr" 
            entity="EntityAttr" 
            keys="entity_name;attr"
            columns="entity_name;attr;template_name;label;issearch;issort;thistype;tooltip;exclude;isrequired;isenabled" 
            header-actions="R;D"
            visible-columns="entity_name;attr;template_name;label;issearch;issort;thistype;tooltip;exclude;isrequired;isenabled"  
            sort-columns="entity_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="small" 
            select-all-checkbox="true" 
            pageable="yes"  
            virtual-scroll="yes" 
            edition-mode="dblclick" 
            horizontal-scroll="yes"
            export-button="no">
            
            <o-table-column attr="entity_name" label=" Entity Name*" editable="yes" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="attr" label="Attribute" editable="yes" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="template_name" label="template_name" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="label" label="label" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="issearch" label="Search" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="issort" label="Sort" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="thistype" label="DataType" editable="yes" required="yes" content-align="left"></o-table-column>
            
            <o-textarea-input attr="tooltip" label="tooltip" rows="10" content-align="center"></o-textarea-input>
            
            <o-table-column attr="exclude" label="exclude" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="isrequired" label="Required" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="isenabled" label="Enabled" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>