<o-form-layout-manager attr="EntityAttr" mode="dialog" title="{{ 'ENTITYATTR' | oTranslate }}">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="EntityAttrTable" 
            service="EntityAttr" 
            entity="EntityAttr" 
            keys="entity_name;title;attr"
            columns="entity_name;title;attr;template_name;label;issearch;issort;thistype;tooltip;isrequired;isvisible;isenabled;exclude" 
            header-actions="R;D"
            visible-columns="entity_name;title;attr;template_name;label;thistype;issearch;issort;isrequired;isvisible;isenabled;exclude"  
            sort-columns="entity_name" 
            query-rows="200" 
            quick-filter="yes"
            row-height="small" 
            select-all-checkbox="true" 
            pageable="yes"  
            virtual-scroll="yes" 
            edition-mode="dblclick" 
            horizontal-scroll="yes"
            export-button="no">
            
            <o-table-column attr="entity_name" title=" Entity Name*" editable="no" required="yes" content-align="left"></o-table-column>
            <o-table-column attr="title" title=" Title Name*" editable="no" required="yes" content-align="left"></o-table-column>
            <o-table-column attr="attr" title="Attribute*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="template_name" title="Template" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="label" title="Label" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="thistype" title="DataType" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="issearch" title="Search">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
            </o-table-column>
            
            <o-table-column attr="issort" title="Sort">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
            </o-table-column>
            
            <o-table-column attr="isrequired" title="Required">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
            </o-table-column>
            
            <o-table-column attr="isvisible" title="Visible">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
            </o-table-column>

            <o-table-column attr="isenabled" title="Enabled">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
            </o-table-column>

            <o-table-column attr="exclude" title="Excluded">
                <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
                render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
            </o-table-column>

            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="100;200;300"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>