<div fxLayout="row" fxLayoutAlign="center start" fxFlexFill class="container">>
    <o-tree #tree service="Application" entity="Application" keys="name" root-title="Application"
        columns="id;name" visible-columns="name" route=":id"  fxFlex="20">

        <!-- o-tree-node root-title="Menu Group" show-root="no" service-type="MenuGroup" service="MenuGroup" entity="MenuGroup"
            columns="menu_name;application_id;id" description-columns="menu_name" keys="id" parent-keys="application_id"
            route="application_id/MenuGroup">
        </o-tree-nod -->

    </o-tree>
    <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="80">
        <router-outlet></router-outlet>
    </div>
</div>