<o-form-layout-manager attr="Application" mode="tab" title="APPLICATION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ApplicationTable" 
            service="Application" 
            entity="Application" 
            title="APPLICATION"
            keys="name"
            columns="name;app_short_name;description;app_yaml" 
            header-actions="R;D"
            visible-columns="name;app_short_name;description;app_yaml"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" Name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #app_short_name attr="app_short_name" title="App Name" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #description attr="description" title="File Path" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #app_yaml attr="app_yaml" title="app_yaml" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>