<o-form #GrantRoleForm attr="GrantRole_form_insert" service="GrantRole" entity="GrantRole" keys="entity_name;role_name"
        fxLayout="column" show-header="yes" header-actions="I" horizontal-scroll="yes" after-insert-mode="new"
        class="standalone-form-container" (onInsertMode)="onInsertMode()">

        <o-row attr="row1" layout-align="start stretch">
                <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">

                        <o-list-picker attr="entity_name" service="Entity" entity="EntityType" fxFlex="30"
                                query-on-init="no" query-on-bind="yes" required="yes" enabled="yes" filter="yes"
                                value-column="name" value-column-type="VARCHAR" keys="name"
                                columns="name;entity_name;name" title="entity_name" visible-columns="name;name"
                                separator=" - " width="680px" class="form-field">
                        </o-list-picker>

                        <o-list-picker attr="role_name" service="RbacRole" entity="RbacRoleType" fxFlex="30"
                                query-on-init="no" query-on-bind="yes" required="yes" enabled="yes" filter="yes"
                                value-column="name" value-column-type="VARCHAR" keys="name"
                                columns="name;role_name;name" title="role_name" visible-columns="name;name"
                                separator=" - " width="680px" class="form-field">
                        </o-list-picker>
                        <o-text-input #can_read attr="can_read" label="can_read" enabled="yes" required="no"
                                fxFlex="20%" class="form-field"></o-text-input>
                        <o-text-input #can_insert attr="can_insert" label="can_insert" enabled="yes" required="no"
                                fxFlex="20%" class="form-field"></o-text-input>

                        <o-text-input #can_update attr="can_update" label="can_update" editable="no"
                                required="no" format="LL" fxFlex="20%" class="form-field"></o-text-input>

                        <o-text-input #can_delete attr="can_delete" label="can_delete" enabled="yes" required="no"
                                fxFlex="20%" class="form-field"></o-text-input>

                        <o-text-input #filter attr="filter" label="filter" enabled="yes" required="no" fxFlex="20%"
                                class="form-field"></o-text-input>

                        <o-text-input #filter_debug attr="filter_debug" label="filter_debug" enabled="yes" required="no"
                                fxFlex="20%" class="form-field"></o-text-input>



                </div>
        </o-row>

        <div layout-padding></div>

</o-form>