<o-form-layout-manager attr="RuleDerivation" mode="dialog" title="Rule Derivation">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table attr="RuleDerivationTable" service="RuleDerivation" entity="RuleDerivation" title="Rule Derivation"
            keys="id"
            columns="entity_name;as_child_entity;derive_column;rule;expression;derivation_type;child_role_name;calling_fn;where_clause;insert_parent;id"
            header-actions="R;D"
            visible-columns="entity_name;rule"
            sort-columns="entity_name" query-rows="20" quick-filter="yes" row-height="medium" select-all-checkbox="true"
            pageable="yes" auto-adjust="true" virtual-scroll="yes" edition-mode="dblclick" horizontal-scroll="yes"
            show-title="yes" export-button="yes">

            <o-table-column #entity_name attr="entity_name" title=" entity_name*" editable="no" required="no"
                content-align="left">
            </o-table-column>
            <o-table-column #derivation_type attr="derivation_type" title="Rule Type" editable="no" required="no"
            content-align="left"></o-table-column>

            <o-table-column #derivation attr="rule" title="Rule Derivation" editable="no" required="no"
                content-align="left"></o-table-column>

            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>