<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
  <o-form #yamlFile attr="DownloadYamlFiles_form_edit" service="YamlFiles" entity="YamlFiles" fxLayout="column"
    show-header="yes" header-actions="R;U" columns="name;size;upload_flag;download_flag;content" #oDetailForm
    keys="name" keys-sql-types="VARCHAR" after-update-mode="home" show-header-navigation="yes"
    (onDataLoaded)="onDataLoaded($event)">

    <!-- o-button o-grid-toolbar position="end" (click)="process_yaml()" label="Process Yaml (reload all entities, attributes, relationships)" type="STROKED"
          icon="upload_file" fxFlex="80%"></o-button -->
    <div fxLayout="row" fxLayoutAlign="start center" class="gap">
      <o-button o-grid-toolbar position="end" (click)="download_yaml()"
        label="4. Convert Edited data to Yaml (download content below can be merged into your ui/{app_name}/app_model.yaml)"
        icon="download_file" color="primary" type="raised" fxFlex="70%"></o-button>
    </div>

    <o-row attr="row1" layout-align="start stretch">
      <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
        <o-text-input attr="name" label=" name*" enabled="no" required="yes" fxFlex="20%"
          class="form-field"></o-text-input>
        <o-text-input attr="size" label=" Size" enabled="no" required="no" fxFlex="20%"
          class="form-field"></o-text-input>
        <o-text-input attr="file_path" label=" File Path" enabled="yes" required="no" fxFlex="40%"
          class="form-field"></o-text-input>
      </div>
    </o-row>


    <o-row attr="row1" layout-align="start stretch">
      <div fxLayout="no wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
        <o-textarea-input #downloaded attr="downloaded" label="app_model.yaml" [data]="getDownloaded()"
          read-only="true" rows="40" content-align="left" fxFlex="30%" class="form-field"></o-textarea-input>
        <o-textarea-input #rule_content attr="rule_content" label="declare_logic.py" [data]="getRuleContent()"
          read-only="true" rows="40" content-align="left" fxFlex="30%" class="form-field"></o-textarea-input>
        <o-textarea-input #role_content attr="role_content" label="declare_security.py" [data]="getRoleContent()"
          read-only="true" rows="40" content-align="left" fxFlex="30%" class="form-field"></o-textarea-input>
      
      <o-button (click)="download_yaml_file()" fxFlex="30%"
      label="Download File" 
      icon="download_file" color="primary" type="raised"></o-button>
    </div>
    </o-row>

  </o-form>
</o-form-container>