<o-form #YamlFilesForm attr="YamlFiles_form_insert" service="YamlFiles" entity="YamlFiles" title="Import Project Files"
  show-title="yes" keys="name" fxLayout="column" show-header="yes" header-actions="I" show-header-title="no"
  show-header-description="no" horizontal-scroll="no" show-header-navigation="no" after-insert-mode="home"
  class="standalone-form-container" (onInsertMode)="onInsertMode()">
  <h1>ApiLogicServer Folder upload</h1>
  <o-row attr="row1" layout-align="start stretch">

    <!-- o-filemanager-table service="YamlFiles" workspace-key="content" new-folder-button="no" download="yes"></o-filemanager-table -->
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      <o-text-input attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%"
        class="form-field"></o-text-input>
        <o-text-input attr="app_name" label=" App Name" enabled="no" required="no" visible="no"></o-text-input>
    </div>
  </o-row>
  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      <o-text-input attr="file_path" label=" File Path" enabled="yes" required="no" fxFlex="50%" class="form-field"
        tooltip="Enter the full path to your root project"></o-text-input>
    </div>

  </o-row>
  <div layout-padding align="left">

    <label for="folder">Select ApilogicServer project (root folder):</label>
    <input type="file" id="folder" webkitdirectory multiple />

  </div>
  <div align="'center">&nbsp;</div>
  <o-row attr="row1" layout-align="start stretch">

    <o-image attr="content" type="image" label="Select ${file_path}/ui/{app}/app_model.yaml" sql-type="TEXT"
      auto-fit="true" enabled="true" read-only="false" show-controls="true"
      tooltip="Select an /ui/{app}/app_model.yaml file from your ApiLogicServer project." full-screen-button="false"
      accept-file-type="*.yaml" empty-image="./assets/images/no-image.png">
    </o-image>
    <o-image attr="rule_content" type="image" label="select $[file_path}/logic/declare_logic.py" sql-type="TEXT"
      auto-fit="true" enabled="true" read-only="false" show-controls="true"
      tooltip="Select an /logic/declare_logic.py file from your ApiLogicServer project." full-screen-button="false"
      accept-file-type="*.py" empty-image="./assets/images/no-image.png">
    </o-image>
    <o-image attr="role_content" type="image" label="select $[file_path}/security/declare_security.py" sql-type="TEXT"
      auto-fit="true" enabled="true" read-only="false" show-controls="true"
      tooltip="Select an /security/declare_security.py file from your ApiLogicServer project."
      full-screen-button="false" accept-file-type="*.py" empty-image="./assets/images/no-image.png">
    </o-image>
    <o-image attr="local_storage" type="image" label="select $[file_path}/downloads/com.ontimize.web.*.json"
      sql-type="TEXT" auto-fit="true" enabled="true" read-only="false" show-controls="true"
      tooltip="Select an /downloads/com.ontimize.web.ngx.*.json file from your Downloads export settings project."
      full-screen-button="false" accept-file-type="*.json" empty-image="./assets/images/no-image.png">
    </o-image>
  </o-row>

</o-form>