.o-tree {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  
    .mat-tree-node {
      cursor: pointer;
  
      .mat-mdc-icon-button {
        cursor: pointer;
      }
    }
  }
  
  entity-detail {
    padding: 10px;
  }
  