<o-form-layout-manager attr="MenuGroup" mode="tab" title="MENUGROUP">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="MenuGroupTable" 
            service="MenuGroup" 
            entity="MenuGroup" 
            title="MENUGROUP"
            keys="id"
            columns="menu_name;application_id;icon;id;menu_id;opened" 
            header-actions="R;D"
            visible-columns="menu_name;application_id;icon;id;menu_id;opened"  
            sort-columns="menu_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #menu_name attr="menu_name" title=" menu_name" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="application_id" title="application_id">
    <o-table-cell-renderer-service attr="application_id" 
        service="Application" entity="ApplicationType" columns="id;name"
        parent-keys="id:application_id"
        value-column="name" keys="application_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #icon attr="icon" title="icon" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-column #menu_id attr="menu_id" title="menu_id" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="opened" title="opened">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>